@model CodeWithDB.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @* <input asp-for="Gender" class="form-control" /> *@

                @* @Html.DropDownListFor(x=>x.Gender , new SelectList(ViewBag.Gender,"Value","Text"),"Select Gender", new{@class = "form-control"}) *@

                @if (Model.Gender == "Male")
                {
                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @checked = true })
                    @Html.Label("Male")
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                    @Html.Label("Female")
                }
                else
                {
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    @Html.Label("Male")
                    @Html.RadioButtonFor(model => model.Gender, "Female", new { @checked = true })
                    @Html.Label("Female")
                }
 
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="SelectedHobbies" class="control-label">Hobbies</label>
                @{
                    if (ViewBag.Hobbies != null)
                    {
                        foreach (var item in ViewBag.Hobbies)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedHobbies"
                                           value="@item.Value"
                                    @if (Model.SelectedHobbies != null && Model.SelectedHobbies.Contains(item.Value))
                                    {
                                        <text> checked </text>
                                    }  /> @item.Text
                                </label>
                            </div>
                        }
                    }
                }
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Standard" class="control-label"></label>
                <input asp-for="Standard" class="form-control" />
                <span asp-validation-for="Standard" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
